@tailwind base;
@tailwind components;
@tailwind utilities;

.article-content h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.article-content h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.article-content h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.article-content ul {
    list-style-type: disc;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.article-content ol {
    list-style-type: decimal;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.article-content img {
    margin: 1.5rem auto;
}

.article-content blockquote {
    margin: 1.5rem auto;
    padding: 1.5rem;
    border-left: 0.25rem solid #FA2200;
    font-style: italic;
}

.article-content a {
    color: #FA2200;
}

.article-content a:hover {
    color: #FA2200;
    text-decoration: underline;
}

.article-content p {
    margin: 1.5rem auto;
}

.article-content blockquote p {
    margin: initial;
}